/* Hero.css */

.hero {
  background-image: url('https://images3.alphacoders.com/779/779246.jpg'); /* Add your background image */
  background-size: cover;
  background-position: center;
  color: #fff; /* White text color */
  padding: 100px 20px; /* Adjust padding as needed */
  text-align: center;
  
}

.hero2 {
  background-image: url('https://cdb.arla.com/api/assets/arla-se/40080e7b-1ad2-41c0-9911-38a175a0a34d/treratters-2048x1152.jpg?width=1280&height=650&mode=cropupsize&quality=90'); /* Add your background image */
  background-size: cover;
  background-position: center;
  color: #fff; /* White text color */
  padding: 100px 20px; /* Adjust padding as needed */
  text-align: center;
  
}

.hero3 {
  background-image: url('https://cdn-rdb.arla.com/Files/arla-se/2703932663/0856b724-f44d-4afd-aa12-acd925ed24fb.jpg?w=1269&h=715&mode=crop&ak=f525e733&hm=b762ca1a'); /* Add your background image */
  background-size: cover;
  background-position: center;
  color: #fff; /* White text color */
  padding: 100px 20px; /* Adjust padding as needed */
  text-align: center;
  
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;

}

.hero-content h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;

}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #ffd700; /* Yellow button color */
  color: #333; /* Dark text color */
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ffcc00; /* Darken button color on hover */
}
