.section_padding{
    padding: 4rem 4rem;
}

.footer{
    background-color: rgb(75, 62, 255); 
    width: 100%;   
}

.footer-section_padding{
    padding: 10px;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    text-align: left;
    margin-bottom: 0rem;
    margin-top: 1px;
}

.footer-links_div{
    width: 150px;
    margin: 0rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: red;
    flex-basis: 100%;
}

a{
    color: green;
    text-decoration: none;
}

.icon{
    display: flex;
    flex-direction: row;
}

.icon img{
    background-color: white;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    filter: grayscale(100%);
    border: 2px solid white;
}

.footer-links_div h4{
    font-size: 14px;
    line-height: 17px;
    color: aliceblue;    
    margin-bottom: 0rem;
}

.footer-links_div p{
    font-size: 12px;
    line-height: 15px;
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 0rem;
}

.footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0,2rem;
}

.footer-below-links{
    display: flex;
    flex-direction: row;
}

.footer-below-links p{
    font-size: 13px;
    line-height: 15px;
    margin-right: 20px;
    color: yellow;
    font-weight: 600;
}

hr{
    color: white !important;
    width: 100%
}

.footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color: aqua;
    font-weight: 600;
    margin-left: 10px;
}

/*@media screen and (max-width: 850px) {
    .footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }

    .footer-links div{
        margin: 1rem;
    }

    .footer-btn{
        font-size: 14px;
        line-height: 20px;
    }

    .footer-below{
        flex-direction: column;
        justify-content: left;
    }

    .footer-below-links{
        flex-direction: column;
    }

    .footer-below-links p{
        margin-left: 0rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}